<!-- page section-->
<section class="page-section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h6 class="title-section-top font-4">{{homePageInformation.0.destinationSubTitle}}</h6>
                <h2 class="title-section"><span>Welcome to</span> {{homePageInformation.0.destinationTitle}}</h2>
                <div class="cws_divider mb-25 mt-5"></div>
                <p>{{homePageInformation.0.destinationDescription.content.0.content.0.value}}</p>
            </div>
        </div>
    </div>
    <div class="features-tours-full-width">
        <div class="features-tours-wrap clearfix">
            {{#each destination}}
            <div class="features-tours-item">
                <div class="features-media"><img src="https:{{this.image.fields.file.url}}"
                        data-at2x="./img/travel/travel-1.png" alt>
                    <div class="features-info-top">
                        <p class="info-text">{{this.description}}</p>
                    </div>
                    <div class="features-info-bot">
                        <h4 class="title"><span class="font-4">{{this.country}}</span> {{this.name}}
                        </h4><a href="{{this.detailsLink}}" class="button">Details</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- ! page section-->