<!-- testimonials section-->
<section class="small-section cws_prlx_section bg-blue-40">
    <div class="container testimonial">
        <div class="row">
            <div class="col-md-8">
                <h6 class="title-section-top font-4">Happy Memories</h6>
                <h2 class="title-section alt-2"><span>Our</span> Testimonials</h2>
                <div class="cws_divider mb-25 mt-5"></div>
            </div>
        </div>
        <div class="row">
            <!-- testimonial carousel-->
            <div class="owl-three-item owl-carousel owl-theme" style="opacity: 1; display: block;">
                {{#each testimonial}}
                <!-- testimonial item-->
                <div class="testimonial-item">
                    <div class="testimonial-top">
                        <a href="{{banner_url}}">
                            <div class="pic">
                                <img src="{{banner_img_url}}" data-at2x="{{banner_img_url}}" alt="" />
                            </div>
                        </a>
                        <div class="author">
                            <img src="{{author_img_url}}" data-at2x="{{author_img_url}}" alt="" />
                        </div>
                    </div>
                    <!-- testimonial content-->
                    <div class="testimonial-body">
                        <h5 class="title"><span>{{firstname}}</span> {{lastname}}</h5>
                        <div class="stars stars-{{start_quantity}}"></div>
                        <p class="align-center">{{short_description}}</p><a href="{{readmore_url}}"
                            class="testimonial-button">{{detail_text}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
<!-- ! testimonials section-->